{% load static %}

    <footer class="py-4 main-footer name-main-hf">
      {% comment %} <div class="container"> {% endcomment %}
        <div class="row ">
          
          <div class="col-lg-4 text-center ">
            <h6 class="Large text-white">Some Footer</h6>
          </div>

          <div class="col-lg-4 text-center ">
            <ul class="text-center mx-auto footer-social">
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
          
          <div class="col-lg-4 text-center ">
            <p class="small text-uppercase mb-0 text-white">&copy; copyright 2022 - all rights reserved</p>
          </div>

        </div>
      {% comment %} </div> {% endcomment %}
    </footer>

