<aside class="col-lg-4 name-main-body">
    <div class="widget latest-posts">
    <header>
        <h3 class="h6">Latest Posts</h3>
    </header>
    <div class="blog-posts">
        {% for post in sidebarallposts %}
        <a href="{{ post.get_absolute_url }}">
            <div class="item d-flex align-items-center"><a href="/post/{{post.url}}">
            <div class="image"><img src="/media/{{ post.image }}" alt="..." class="img-fluid"></div>
                <div class="d-flex align-items-center">
                    <div class="title "><strong>{{ post.title }}</strong>
                <div class="comments"><span>{{ post.add_date }}</span></div></a>
                </div>
            </div>
            </div>
        </a>
        <br>

        {% endfor %}
    </div>
</aside>